<style media="screen">

  .card, .item {
    border-radius: 10px !important;
    width: 120px !important;
    height: 120px !important;
    background-color:#F8F1E5;
    margin: 0 auto !important;
    -webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
  }

</style>
<ion-modal-view>
  <ion-header-bar align-title="center" class="bar-dark">
    <h1 class="title">Alertas</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-close-round" ng-click="closeAlertsModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content class="modalContent">
    <div class="row">
      <div class="col">
        <div class="card" ng-click="openCategoryModal('buraconavia')">
          <div class="item item-text-wrap">

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">

          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">

          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">

          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">

          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">

          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">

          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">

          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">

          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
