<style media="screen">
  input[type="text"]{
    font-size:20px;
  }
  .rowAlert{
    padding:30px;
  }

  .bar-footer{
    height:70px;
  }
</style>
<ion-modal-view>
  <ion-header-bar align-title="center" class="bar-dark">
    <h1 class="title">Buraco na Via</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-close-round" ng-click="closeCategoryModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content class="modalContent">

    <div class="row rowAlert">
      <div class="col">
          <center>
            <img style="width:100px;height:100px;" src="img/platformerAssets/extraAnimationsAndEnemies/Alien sprites/alienGreen_badge2.png">
          </center>
      </div>
    </div>

    <!-- <div class="row rowAlert">
      <div class="col">
       <div class="item-input-inset">
         <label class="item-input-wrapper">
           <input type="text" placeholder="Comentários" style="width:100%;">
         </label>
       </div>
      </div>
    </div> -->
    <div class="row rowAlert">
      <div class="col" style="text-align:center;">
        <a class="button button-icon icon" ng-click="getPhoto()" ng-if="lastPhoto == undefined">
          <i class="fa fa-camera fa-5x item-profile" style="color:#F8F1E5;"></i>
        </a>
        <img ng-if="lastPhoto !== undefined && lastPhoto !== null" ng-src="{{lastPhoto}}" ng-click="getPhoto()" style="width:100px;height:100px;"></img>
      </div>
      <div class="col" style="text-align:center;">
        <a class="button button-icon icon" ng-click="showCommentsModal()">
          <i class="fa fa-comment fa-5x" style="color:#F8F1E5;" ng-if="!alerta.isExibirComentarioPreenchido()"></i>
          <i class="fa fa-commenting-o fa-5x" style="color:#F8F1E5;" ng-if="alerta.isExibirComentarioPreenchido()"></i>
        </a>
      </div>
    </div>
    <div class="row rowAlert">
      <div class="col">
        <div class="range range-light">
          <input type="range" name="volume" min="0" max="100" value="50" ng-model="alerta.severidade">
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-assertive" style="background:none;">
    <div class="buttons" style="width:100% !important;">
      <button class="button button-balanced" style="width:100%;background-color:#8abe74;">
        Enviar
      </button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
