<style media="screen">
  .popup {
    width: 80% !important;
    height: 30vh !important;
    border: 2px solid white;
    -webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
  }

  .popup-body {
    background-color: #426E86 !important;
    height: 100%;
    -webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
  }

  .popup-head {
    display: none;
  }

</style>
<div class="bar bar-header bar-dark">
  <h1 class="title">Este app requer localização</h1>
</div>
<ion-content class="has-header">
  <div class="row">
    <div class="col">
      <p style="color:white;">
        Entre em configurações para ativar a localização do dispositivo.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="button button-light" style="width:100%;" ng-click="cancelLocationPopup()">Cancelar</button>
    </div>
    <div class="col">
      <button class="button button-light" ng-click="configLocationPopup()">Configurações</button>
    </div>
  </div>
</ion-content>
