<!-- .popup
.popup-head
.popup-title
.popup-body
.popup-buttons .button
.popup-buttons .button.activated -->
<style media="screen">
  .popup {
    width: 80% !important;
    height: 80% !important;
    border: 2px solid white;
    -webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
  }

  .popup-body {
    background-color: #426E86 !important;
    height: 100%;
    -webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
  }

  .popup-head {
    display: none;
  }



  .card, .item {
    border-radius: 10px !important;
    width: 120px !important;
    height: 120px !important;
    background-color:#F8F1E5;
    margin: 0 auto !important;
    -webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
  }

</style>
<div class="bar bar-header bar-dark">
  <h1 class="title">Alert</h1>
  <button class="button button-icon icon ion-close-round" ng-click="closeAlertsPopup()"></button>
</div>
<ion-content class="has-header">

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="item item-text-wrap">

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="item item-text-wrap">

        </div>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="item item-text-wrap">

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="item item-text-wrap">

        </div>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="item item-text-wrap">

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="item item-text-wrap">

        </div>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="item item-text-wrap">

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="item item-text-wrap">

        </div>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="item item-text-wrap">

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="item item-text-wrap">

        </div>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="item item-text-wrap">

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="item item-text-wrap">

        </div>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="item item-text-wrap">

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="item item-text-wrap">

        </div>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="item item-text-wrap">

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="item item-text-wrap">

        </div>
      </div>
    </div>
  </div>

  </ion-content>
